* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 2rem 20 rem;
  background-color: #F5F5F5;
}

.nav--logo {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  width: 550px;
  padding: 0;
  margin: 0;
  background: #F55A5A;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100px;
  letter-spacing: -1px;
  font-family: 'Roboto Condensed', sans-serif
}

/* max-width fixes a rendering issue in Safari */
.fa-globe-europe {
  max-width: 100px;
  width: 30px;
  height: 30px;
  margin-right: .5rem;
}

.cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 6px -1px;
}

img {
    height: 180px;
    width: 125px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card {
  margin: 5px auto 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
}

.card--info {
  justify-content: center;
  height: fit-content;
  padding: 0 20px;
  color: #2B283A;
}

.card--content {
  display: flex;
  align-items: center;
  height: 12px;
}

.fa-map-marker-alt {
  color: #F55A5A;
  width: 7px;
  height: 9.55px;
  font-size: 10.24px;
}

.card--pin-location {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  padding: 0 12px 0 8px;
  text-transform: uppercase;
}

a:link,
a:visited {
  font-size: 10.24px;
  line-height: 12px;  
  color: #918E9B;
}

.card--info-location {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 5px 0 5px 0;
  padding: 0;
  color: #2B283A
}

.card--info-date {
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  padding-top: 0;
  margin-bottom: 9px;
}

.card--info-text {
  color: #2B283A;
  font-size: 10.24px;
  line-height: 150%;
  padding: 0;
}

.card--info-beer {
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.card + .card {
    border-top: 1px solid #F5F7FB;
}
